:root
    --input-bg: transparent
    --input-border: 1px solid var(--text-color)
    --input-color: var(--text-color)
    --input-placeholder-color: var(--text-color)
    --input-checked-color: var(--text-color)
    --input-padding-x: 10px
    --input-padding-y: 8px


// ----------------------------------------------------
// FORMS NORMALIZE
// Mostly taken from bootstrap-sass

// Override content-box in Normalize (* isn't specific enough)
input[type="search"]
    box-sizing: border-box

// Position radios and checkboxes better
input[type="radio"],
input[type="checkbox"]
    margin: 4px 0 0
    margin-top: 1px \9 // IE8-9
    line-height: normal

input[type="file"]
    display: block

// Make range inputs behave like textual form controls
input[type="range"]
    display: block
    width: 100%

// Make multiple select elements height not fixed
select[multiple],
select[size]
    height: auto


// ----------------------------------------------------
// FORM FIELDS

fieldset
    padding: 0
    margin: 0
    border: 0
    min-width: 0

legend
    display: block
    width: 100%
    padding: 0

label
    font-size: 0.9rem
    line-height: 1.2
    max-width: 100% // Force IE8 to wrap long content (see https://github.com/twbs/bootstrap/issues/13141)
    display: block
    margin: 0 0 0.3rem
    font-weight: bold

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
input[type="file"]
    display: flex
    align-items: center
    box-shadow: none
    font-size: 1rem
    line-height: 1
    font-family: var(--font-family-default)
    width: 100%
    color: var(--input-color)
    border: var(--input-border)
    background: var(--input-bg)
    border-radius: 0
    padding: var(--input-padding-y) var(--input-padding-x)
    background-image: none // Reset unusual Firefox-on-Android default style see https://github.com/necolas/normalize.css/issues/214

    // Unstyle the caret on `<select>`s in IE10+.
    &::-ms-expand
        border: 0
        background-color: transparent

    &:focus
        outline: none

    // Disabled and read-only inputs
    &[disabled],
    &[readonly],
    fieldset[disabled] &
        opacity: 1 // iOS fix for unreadable disabled content see https://github.com/twbs/bootstrap/issues/11655
    &[disabled],
    fieldset[disabled] &
        cursor: not-allowed

    +input-placeholder
        color: var(--input-placeholder-color)

input[type="file"]
    padding-top: 9px

textarea
    height: auto
    line-height: 1.4
    min-height: 200px

// Search inputs in iOS
input[type="search"]
    -webkit-appearance: none


// ----------------------------------------------------
// FORM GROUPS

.error-msg
    color: var(--alert-color)

.form-field
    margin-bottom: 1rem

.form-submit
    display: flex
    align-items: center
    margin-top: 2rem

    .btn
        margin-right: var(--gutter)
        &:last-child
            margin-right: 0
    .btn-primary
        margin-left: auto