.items-list

    article
        border-bottom: 1px solid #CCC
        padding-bottom: 1.5rem
        margin-bottom: 1.5rem
        &:last-of-type
            padding-bottom: 0
            margin-bottom: 0
            border-bottom: none

    h3
        margin: 0

    .subtitle
        display: block
        font-size: 0.75em

    .date
        margin-bottom: var(--gutter)
        font-size: 0.8rem
        text-transform: uppercase
        color: #666

    .actions
        margin-top: var(--gutter)
        .btn
            margin-right: 10px