.site-header
    background: var(--text-color)
    color: var(--body-bg)
    position: fixed
    top: 0
    left: 0
    right: 0
    height: var(--header-height)
    display: flex
    align-items: center
    padding: 0 var(--gutter)

    h1, ul
        margin: 0

    a
        color: inherit
        text-decoration: none

    h1
        font-size: 1.8rem

    .add-btn
        margin-left: auto